body {
  font-family: 'Titillium Web';
  font-size: 16px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}

h2,
.h2 {
  font-weight: bold;
}

.resume-sidebar.affix {
  position: static;
}
.resume-sidebar.affix {
  margin-top: 0;
  margin-bottom: 0;
}

.resume-sidenav > li {
  font-size: 15px;
}

.resume-sidenav > li.active > a {
  font-weight: bold;
}

.resume-sidenav > li > ul {
  display: none !important;
}

.resume-sidenav > li.active > ul {
  display: block !important;
}

.resume-sidenav > li.active > ul > li {
  margin-left: 8px;
  font-size: 13px;
}

.resume-sidenav > li.active > ul > li.active {
  font-weight: bold;
}

.top-header,
.top-header h2 {
  margin-top: 0;
}

ul.skill-gauge-list > li {
  display: inline-block;
  width: 200px;
  height: 160px;
}

ul.skill-gauge-list > li > .gauge {
  width:100%;
  height:100%;
}

ul.tools-list  > li {
  display: inline-block;
  margin: 0 16px 8px 0;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .resume-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .resume-sidebar.affix,
  .resume-sidebar.affix-bottom {
    width: 213px;
  }
  .resume-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 10px;
  }
  .resume-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .resume-sidebar.affix-bottom .resume-sidenav,
  .resume-sidebar.affix .resume-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .resume-sidebar.affix-bottom,
  .resume-sidebar.affix {
    width: 263px;
  }
}